<footer class="pt-5 pb-5">
  <div class="container-fluid mt-5 small">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="<%= root_path %>">Raheem</a>
      </li>
      <li class="list-inline-item">
        <a href="<%= incidents_path %>">Incidents</a>
      </li>
    </ul>
  </div>
</footer>